:root {
  --lyon: #00AA8D;
  --liverpool: #625098;
  --darkblue: #1F3B62;
  --grey: lightgrey;
  --madrid: #FF978D;
  --milan: #00CCD9;
  --cloud: #f2f2f2;
  --cardshadow: 2px 2px 13px rgba(0, 0, 0, 0.2);
  --sub: 0.5em;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

div.container {
  max-width: 74rem;
  margin: 0 auto;
}

h3 {
  font-family: 'Sora';
  color: var(--darkblue);
  font-size: 30px;
  padding-top: 5%;
  margin: 0 auto 20px auto;
  text-align: center;
  width: 55%;
  max-width: 38em;
}

p {
  width: 55%;
  max-width: 38em;
  line-height: 150%;
  margin: auto;
}

sub {
  line-height: 0;
  font-size: var(--sub)
}

.roundededge::before {
  content: url('../images/rounded.bg.gray1.svg');
  margin-bottom: -5px;
  display: block;
}

.roundededge::after {
  content: url('../images/rounded.bg.gray1.svg');
  transform: rotate(180deg);
  display: block;
  margin-top: -5px;
}
