:root {
  --lyon: #00aa8d;
  --liverpool: #625098;
  --darkblue: #1f3b62;
  --grey: lightgrey;
  --madrid: #ff978d;
  --milan: #00ccd9;
  --cloud: #f2f2f2;
  --cardshadow: 2px 2px 13px rgba(0, 0, 0, 0.2);
  --sub: 0.5em;

  --base-font-size: 1.25rem;
  --heading-1: calc(var(--base-font-size) * 5);
  --heading-2: calc(var(--base-font-size) * 2.5);
  --heading-3: calc(var(--base-font-size) * 1.5);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: var(--base-font-size);
  font-weight: 400;
  color: var(--darkblue)
}

main {

  & > section {
    padding: 12rem 0;

    div {

      &.container {
        max-width: 74rem;
        margin: 0 auto;

        & > p {
          width: 70%;
        }
      }

      & > p {
        margin: 0 auto;
      }
    }
  }
}

h1,
h2,
h3 ,
h4 {
  margin: 0 0 2rem;
  font-family: 'Sora';
  font-weight: 300;
  text-align: center;
  color: var(--darkblue);
}

h1 {
  font-size: var(--heading-1);
}

h2 {
  font-size: var(--heading-2);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: var(--heading-3);
  text-align: center;
}

p {
  line-height: 180%;
}

ul {
  padding: 0;
  margin: 0;
}

sub {
  line-height: 0;
  font-size: var(--sub);
}
